{% extends 'first_land_app/base.html' %}
{% load static %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-6 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            {% comment %} <img
                src="{% static 'first_land_app/css/glowing-spider-web-dark-abstract-backdrop-generated-by-ai.jpg' %}"
                alt="DoJBlog" width="700" height="500" loading="lazy"> {% endcomment %}
            <img src="https://i.pinimg.com/originals/2c/c4/a3/2cc4a313351b26f4f0f5ccd9a14aed1f.png" alt="DoJBlog"
                width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Lorem ipsum dolor sit amet consectetur
                adipisicing elit.</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem esse quibusdam qui pariatur
                ipsam. Fugiat maiores error saepe praesentium soluta officiis, natus sequi at, asperiores consequatur
                numquam in delectus veniam.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Iphone Pro Max</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident dolores quibusdam
                voluptates ea suscipit dicta quod similique ipsam nemo adipisci placeat iusto maxime non deserunt id,
                nisi minima animi numquam?</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Buy</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Learn more</button>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">FEATURES</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-camera-fill feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Camera</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos iure minima recusandae maxime,
                    accusamus laboriosam.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-camera-video-fill feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Video</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque provident, tempore ab ipsum
                    debitis.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-database feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Storage</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit natus deserunt ea explicabo libero,
                    cupiditate.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-browser-safari feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Safari</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorem libero animi maxime.
                    Reprehenderit tenetur.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-apple feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Operating System</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad quas error reprehenderit eaque libero?
                    Quis asperiores.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-fingerprint feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Finger Print</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, reiciendis aliquid tenetur minima eum
                    omnis sequi dolorem.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-battery-charging feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Battery</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a quasi consequatur suscipit architecto
                    assumenda fugit.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="feat-squarrel me-3">
                <a href="#" class=""><span class="bi bi-globe2 feat-squarrel-color"></span></a>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Translate</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae consequatur incidunt optio doloribus,
                    nesciunt quia.</p>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">ABOUT</h2>
    <p class="lead py-5 txt-content">
        Trade-in values will vary based on the condition, year, and configuration of your eligible trade‑in device. Not
        all devices are eligible for credit. You must be at least 18 years old to be eligible to trade in for credit or
        for an Apple Gift Card. Trade‑in value may be applied toward qualifying new device purchase, or added to an
        Apple Gift Card. Actual value awarded is based on receipt of a qualifying device matching the description
        provided when estimate was made. Sales tax may be assessed on full value of a new device purchase. In‑store
        trade‑in requires presentation of a valid photo ID (local law may require saving this information). Offer may
        not be available in all stores, and may vary between in‑store and online trade‑in. Some stores may have
        additional requirements. Apple or its trade‑in partners reserve the right to refuse or limit quantity of any
        trade‑in transaction for any reason. More details are available from Apple’s trade‑in partner for trade‑in and
        recycling of eligible devices. Restrictions and limitations may apply.
        Program available for iPhone 14 and iPhone 14 Pro. Available to qualified customers with a credit check and
        eligible U.S. credit or debit card. Requires a 24‑month installment loan with a 0% APR from Citizens Bank, N.A.
        (subject to any interest, fees, or other costs payable to the card issuer), purchase of AppleCare+ for iPhone,
        and iPhone activation with one of these national carriers: AT&T, Verizon, or T‑Mobile. Sales tax and any
        applicable fees due at time of purchase. Full terms apply.
        Some features may not be available for all countries or all areas. View complete list.
        † Apple Card Monthly Installments (ACMI) is a 0% APR payment option that is only available if you select it at
        checkout in the U.S. for eligible Apple products purchased at Apple Store locations, apple.com, the Apple Store
        app, or by calling 1‑800‑MY‑APPLE, and is subject to credit approval and credit limit. See
        support.apple.com/kb/HT211204 for more information about eligible products. APR ranges may vary based on when
        you accepted an Apple Card. Cardholders who accept an Apple Card on and/or after August 10, 2023: Variable APRs
        for Apple Card, other than ACMI, range from 19.24% to 29.49% based on creditworthiness. Rates as of August 10,
        2023. Existing cardholders: See your Customer Agreement for applicable rates and fee. If you buy an ACMI
        eligible product by choosing to pay in full with Apple Card (instead of using ACMI), that purchase is subject to
        the Apple Card variable APR, not 0% APR. Taxes and shipping on ACMI purchases are subject to the variable APR,
        not 0% APR. You’ll need to select AT&T, T‑Mobile, or Verizon as your carrier when you check out. An iPhone
        purchased with ACMI is always unlocked, so you can switch carriers at any time. ACMI is not available for
        purchases made online at the following special stores: Apple Employee Purchase Plan; participating corporate
        Employee Purchase Programs; Apple at Work for small businesses; Government, and Veterans and Military Purchase
        Programs, or on refurbished devices. The last month’s payment for each product will be the product's purchase
        price, less all other payments at the monthly payment amount. ACMI financing is subject to change at any time
        for any reason, including but not limited to, installment term lengths and eligible products. See
        support.apple.com/kb/HT211204 for information about upcoming changes to ACMI financing. See the Apple Card
        Customer Agreement for more information about ACMI financing.To access and use all Apple Card features and
        products available only to Apple Card users, you must add Apple Card to Wallet on an iPhone or iPad that
        supports and has the latest version of iOS or iPadOS. Apple Card is subject to credit approval, available only
        for qualifying applicants in the United States, and issued by Goldman Sachs Bank USA, Salt Lake City Branch.

    </p>
</div>
<div class="b-example-divider"></div>
<div class="container border-top">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2023 DOJ, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>
{% endblock content %}